{% extends "AppCoder/padre.html" %}
{% load static %}
{% block titulo %} ESTA ES LA PAGINA DE ESTUDIANTES {% endblock %}
{% block contenido_que_cambia %} 
<style>
    h2 {color: rebeccapurple;}
    h1 {color: lightskyblue}
</style>
<h2> {{ mensaje }} </h2>
<h1> Formulario para registrar un estudiante </h1>
<form action="{% url 'estudiantes' %}" method = "post"> {% csrf_token %}

   {{ formulario.as_p }}

    <input type="submit" value="REGISTRAR ESTUDIANTE">
</form>

<h1> ESTUDIANTES </h1>
<table>
    <thead>
        <tr>

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
        <tr>
            <td>
                {{ estudiante.nombre }}
            </td>
            <td>
                {{ estudiante.apellido }}
            </td>
            <td>
                {{ estudiante.email }}
            </td>
                      
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}